name: Build and Push to NPM Branch

on:
  push:
    branches:
      - master

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          token: ${{ secrets.PAT_TOKEN }}
          fetch-depth: 0
      
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '12'
          
      - name: Install dependencies
        run: npm install
        
      - name: Build
        run: npm run package
        
      - name: Prepare npm branch files
        run: |
          # 创建临时目录
          mkdir -p temp_npm
          # 复制必要文件到临时目录
          cp -r build/package/* temp_npm/
          
      - name: Push to npm branch
        run: |
          git config --global user.name 'GitHub Actions'
          git config --global user.email 'actions@github.com'
          git checkout -B npm
          # 清除现有文件
          git rm -rf .
          # 复制临时目录中的文件到根目录
          cp -r temp_npm/* .
          rm -rf temp_npm
          git add .
          git commit -m "Auto build dist files"
          git push -f https://${{ secrets.PAT_TOKEN }}@github.com/${{ github.repository }}.git HEAD:npm